a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

.cb, .clearfix {
  @include clearfix;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
